// PlayPal Color Scheme

$dark-blue: #001333;
$play-blue: #669BBC;
$coral-red: #FF595A;
$coral-orange: #FE4F02;
$light-brown: #EEDFC9;
$black: #202124;
$white: #FFFFFF;

// PlayPal Fonts collection

@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$base-font: 'Roboto', sans-serif;
$header-font: 'Glass Antiqua', cursive;
