<div class="game-card">
  <div class="time-start">
    <p>Wednesday 28 june</p>
    <p>10:00</p>
  </div>
  <div class="players">
      <div class="player">
        <%= cl_image_tag(photo.key, class: "avatar") %>
        <p>Name</p>
      </div>
    <% end %>
  </div>
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
