<div class="game-card">
  <div class="game-time">
    <p><i class="fa-regular fa-calendar"></i>Wednesday 28 june </p>
    <p> <i class="fa-regular fa-clock"></i>10:00</p>
  </div>
  <div class="players">
      <div class="player">
        <img class="avatar-card" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar"/>
        <p>Name</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar"/>
        <p>Name</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar"/>
        <p>Name</p>
      </div>
      <div class="player">
        <img class="avatar-card" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="avatar"/>
        <p>Name</p>
      </div>
  </div>
  <div class="game-type">
    <p><i class="fa-solid fa-diamond"></i><strong> Tarot</strong></p>
    <p><i class="fa-solid fa-ranking-star"></i><strong> Competitive</strong></p>
  </div>
</div>
