<div class="show-banner">
  <h2>Search</h2>
</div>

<div data-controller="search-games">
  <%= form_with url: games_path, method: :get, html: {class:
    "mb-4", data: {search_games_target: "form"}} do |f| %>
    <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Address",
                      value: params[:query],
                      data: {
                        search_games_target: "input",
                        action: "keyup->search-games#update"
                      } %>
  <% end %>
  <div data-search-games-target="list">
    <%= render "list", games: @games %>
  </div>
</div>
