<div class="banner">
  <div class="banner-content text-center">
    <h1>PlayPal</h1>
    <div>
    <div class="search_button_home">
      <%= link_to games_path do %>
        <div>
          <p>Join a game</p><i class="fa-solid fa-magnifying-glass"></i>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<div>
  <div>
    <div>
      <h2 class="game_card">Next games</h2>
      <ul id="game-cards-slide">
        <% @next_games.each do |game| %>
          <%= render "shared/game_card_join", game: game %>
        <% end %>
      </ul>
    </div>
    <div>
      <h2 class="game_card">News</h2>
      <%= render "shared/news_card" %>
    </div>
  </div>
</div>
