.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  > svg {
    display: none;
  }
  > input {
    width: 100%;
    border: none;
    @extend .form-control;
  }
  .mapboxgl-ctrl-geocoder--pin-right {
    display: none;
  }
  .suggestions-wrapper {
    position: absolute;
    top: 36px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    ul {
      list-style: none;
      padding: 0;
      .mapboxgl-ctrl-geocoder--powered-by a {
        display: none;
      }
    }
    li {
      padding: 0.4rem 5px;
    }
    li:nth-of-type(2n) {
      background-color: $light-gray;
    }
  }
}

.launch-game-button {
  position: relative;
  padding: 0.15em;
  font-size: 18px;
  border: 0;
  background: linear-gradient(45deg, $coral-red, $coral-orange);
  border-radius: 50px;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  color: white;
  padding: 1rem;
}
