.banner {
  height: 26vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-blue;
  background-size: cover;
  background-position: center;

  h1 {
    color: $light-brown;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 4px;
    margin-top: 3vh;
    margin-bottom: 3.5vh;
    font-family: 'Glass Antiqua';
  }

  .btn {
    padding: 10px 40px;
    color: $light-brown;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s ease;
    border: 1px solid $coral-red;
  }
}
