.btn_add {
  padding: 10px 40px;
  color: $coral-red;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid $coral-red dotted;
  background-color: $light-brown;
}
