.show-second-banner {
  background-color: $light-gray;
}

.player-ranking-grid {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 0.8fr;
  align-items: center;
  margin: 1rem;
  .grid-labels {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
}

i.fa-thumbs-up {
  font-weight: 500;
  font-size: 1.5rem;
}

// i.fa-thumbs-up.thumbs-marker {
//   pointer-events: none;
// }

i.fa-thumbs-up.bold {
  font-weight: 600;
}

i.fa-thumbs-down {
  font-weight: 500;
  font-size: 1.5rem;
}

// i.fa-thumbs-down.thumbs-marker {
//   pointer-events: none;
// }

i.fa-thumbs-down.bold {
  font-weight: 600;
}

.player-ranking-card {
  p {
    margin: 0;
  }
  .pending-game {
    grid-column: 3 / span 3;
  }
}

.show-game-card-infos {
  display: grid;
  grid-template-columns: 0.75fr 1.5fr 0.75fr;
  grid-gap: 1rem;
  margin-top: 1rem;
  p {
    margin: 0;
    padding: 0;
  }
  .show-game-card-infos-cards {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    text-align: center;
  }
  #day {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: -14px;
    background-color: $dark-blue;
    color: white;
  }
  #month {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 0.25px solid black;
    padding-bottom: 4px;
    background-color: $dark-blue;
    color: white;
  }
  #game-card-location {
    #marker {
      background-color: $dark-blue;
      color: white;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    p {
      background-color: white;
      font-size: 15px;
      padding: 5px 6px;
    }
  }
  #game-card-duration {
    #clock {
      background-color: $dark-blue;
      color: white;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    p {
      background-color: white;
      font-size: 18px;
      padding: 5px 6px;
      font-weight: bold;
      color: $dark-blue;
    }
  }
}
