.label-inline {
  display: inline-block;
}

.button-hide {
  position: absolute;
  transform: scale(0);
}

.button-hide + label {
  cursor: pointer;
  display: inline-block;
  border-radius: 50rem;
  font-size: 20px;
  padding: 10px 20px;
  background-color: $light_brown;
  color: $dark_blue;
  border: 1px solid white;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.button-hide:checked + label {
  background-color: $coral-red;
  color: white;
  border: 1px solid $coral-red;
}

#compet-select {
  padding-left: 0;
  margin-top: 0.2em;
  margin-right: 2em;
}

#duration-range {
  width: 100%;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  font-size: ;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $coral-red;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.btn-form {
  padding: 15px 50px;
  color: $light-brown;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid $coral-red;
}

.form-control {
  font-size: 18px;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder {

  .suggestions-wrapper {
    border: none;
  }
}

body {
  font-size: 18px;
}

.launch-game-button {
  font-size: 18px;
}

.form-check {
  padding: 0;
}

#compet-select {
  display: grid;
}

.form-range {
  padding-top: 15px;
}

.container {
  --bs-gutter-x: 3em;
  padding-top: 2em;
}

abbr[title] {
  display: none;
}
