.news-cards {
  display: grid;
  grid-auto-columns: minmax(280px, 1fr);
  grid-column-gap: 1.3em;
  grid-auto-flow: column;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 16px;
}

.news-cards::-webkit-scrollbar {
  display: none;
}

.news-cards img {
  height: 100%;
  width: 30vw;
  object-fit: cover;
  clip-path: ellipse(98% 110% at 99% 70%);
}

.news-cards p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 1em;
}

.news-cards .news-card-infos {
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,19,51,0.2);
  border-radius: 8px;
  overflow: hidden;
  height: 140px;
}
