.onglet {
  display: flex;

}


.onglets {
  font-family: 'Sansita', bold;
  // padding-top: 5px;
  // padding-bottom: 12px;
  width: calc(100vh /2);
}

button:disabled {
  background-color: #FFFFFF;
  color: $dark-blue;
  border: none;
  font-family: 'Sansita', bold;
}

button {
  background-color: #001433;
  color: $light-brown;
  border: none;
  font-family: 'Sansita', bold;

}
