<div class="d-flex justify-content-between" data-controller="like" data-like-path-value="<%= participation_reviews_path(participant) %>">
  <i data-action="click->like#boldUp" class="fa-solid fa-thumbs-up <%= "bold" if participant.reviews.find_by(user_id: current_user)&.personality_rating == 1 %>"></i>
  <i data-action="click->like#boldDown" class="fa-solid fa-thumbs-down <%= "bold" if participant.reviews.find_by(user_id: current_user)&.personality_rating == -1 %>"></i>
</div>
